html, body {
    margin: 10px;
    background-color: var(--surface-b); /*en las variables var, se mandan a llamar lso estilos de primeng*/
    font-family: var(--font-family);
}

.text-layout {
    color: var(--text-color);
}